# IntelliJ IDEA specific files
.idea/
*.iml
*.ipr
*.iws

# Maven specific files
target/
*.jar
*.war
*.ear
*.class
*.log

# Build files
build/

# OS specific files
.DS_Store
Thumbs.db
ehthumbs.db

# Other IDE specific files
*.class
*.swp
*.swo
*.tmp
*.bak

# Dependency directories
/.mvn/
!.mvn/wrapper/maven-wrapper.properties

# Miscellaneous
*.user
*.sublime-project
*.sublime-workspace
*.orig

# Environment specific files
.env
*.env
